/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.6rem;
}

li,
label,
input,
button,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  padding: 3rem;
  font-weight: 400;
}

h4,
h5 {
  font-size: 2.8rem;
}

a {
  color: white;
  text-decoration: none;
}

button {
  padding: 2rem 6rem;
  background-color: #4c6e97;
  border: none;
  cursor: pointer;
  color: white;
}
/* Nav section and Hero */

.main-header {
  background-color: #131c27;
  color: white;
}

nav {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
}

#logo {
  flex: 2 1 40rem;
  font-family: 'Pattaya', sans-serif;

}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex: 1 1 40rem;
}

.hero {
  color: white;
  min-height: 90vh;
  background: linear-gradient(rgb(0, 0, 0, 0.5), transparent),
    url("./assets/img/landing-page.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Media Queries */

@media (max-width: 933px) {

    html {
        font-size: 45%;
    }

    nav {
        text-align: center;
    }

    #logo {
        padding: 2rem;
    }
   
}